  /* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap'); */

  @font-face {
    font-family: 'Yekan';
    src:	url('/fonts/Yekan.eot');
    src:	url('/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Yekan.woff2') format('woff2'), 
        url('/fonts/Yekan.woff') format('woff'),
        url('/fonts/Yekan.otf') format('opentype'),
        url('/fonts/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
  }

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
*::selection {
  background-color: #1a1a1a;
}

body{
  background-color: #171717;
  font-family: 'Yekan', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbbbbb; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#mt{
  box-sizing: border-box;
  margin-top: 4rem;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px;  */
  width: 100%;
  gap: 10px;
}
.my-masonry-grid_column {
  /* padding-left: 30px;  */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.pictureItem{
  width: 100%;
  height: auto;
}


@media(max-width: 768px) {
  *{
    cursor: default;
  }
}