/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */

.footer{
    font-family: 'Yekan', sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1c1c;
    border-top: black 1px solid;
    width: 100%;
    height: 3rem;
    color: #ffe6e6;
    align-items: center;
}
.text{
    padding-right: 1rem;
}
.icon{
    padding-left: 2rem;
    display: flex;
    height: 100%;
    gap: 1.5rem;
    align-items: center;
}
.link{
    text-decoration: none;
    color: inherit;
}
.name{
    display: flex;
    align-items: center;
}
@media(max-width: 550px) {
    .text{
        font-size: 0.8rem;
    }
    
}
@media(max-width: 500px) {
    .smallHid{
        display: none;
    }
}