.pic{
    min-height: 95vh;
    background-image: url('../public/Alex-James.jpg');
    background-size: cover; /* To achieve the same effect as object-fit: cover; */
    background-position: 50% 100%; /* To achieve the same effect as object-position: 50% 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #f5f5f5;
    font-family: 'Noto Sans Arabic', sans-serif;
    background-repeat: no-repeat;
}
.pic h1{
    font-family: 'Rubik', sans-serif;
}
.pageBody{
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.swiperSlider {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    box-shadow: 5px 5px rgb(61, 60, 60);
    border-radius: 0.5rem;
    cursor: e-resize;
}

.mySwiper {
    width: 100%;
    height: 250px;
    /* background: #818383; */
    padding: 1rem 0rem 2rem 0rem;
    margin-bottom: 3rem;
}
.image{
    border-radius: 50%;
    outline: 2px solid black;
}
.mainText{
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;    
    flex-direction: column;
    /* background: rgb(206,208,212);
background: -moz-linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
background: linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ced0d4",endColorstr="#ced0d4",GradientType=1); */
    background-color: #1e1e1e;
    box-shadow: 5px 5px rgb(36, 35, 35);
    margin: 1rem;
    color: #f5f5f5;
    margin-top: 5rem;
}

/* .bigText{
    padding: 1rem;
    border-radius: 0.5rem;
} */
.workers{
    /* padding: 1rem; */
    /* background: rgb(206,208,212);
    background: -moz-linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
    background: linear-gradient(0deg, rgba(206,208,212,1) 0%, rgba(255,255,255,1) 50%, rgba(206,208,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ced0d4",endColorstr="#ced0d4",GradientType=1); */
    font-family: 'Rubik', sans-serif;
    padding-top: 2rem;
    color: #f5f5f5;
}
.span{
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #232323;
}
.grid:hover{
    transition: box-shadow 0.3s ease; /* Apply the transition to background-color */
    box-shadow: 5px 5px rgb(58, 57, 57);
}


.right{
    padding: 1rem;
    /* background-color: #1e1e1e; */
}

.left{
    /* background-color: #1e1e1e; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.picText {
    color: #818383;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText:hover {
    color: #cbcbcb;
}

.picText2 {
    color: #818383;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText2:hover {
    color: #cbcbcb;
}
@media(max-width: 1110px) {
    .picText2{
        display: none !important;
    }
}

@media(max-width: 370px) {
    .pic h1 {
        font-size: 1.5rem;
    }
    .pic h5{
        font-size: 0.7rem;
    }
}