.pic{
    box-sizing: border-box;
    /* margin-top: 1rem; */
    min-height: 100vh;
    background-image: url('../public/images/background/sayad_shirazi.jpg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    justify-self: center;
    position: relative;
}

.overflow{
    overflow: hidden;
    transition: all 0.2s;
    border-radius: 1rem;
    height: 100%;
}

.hover{
    transition: all 0.3s ;
}

.hover:hover{
    transform: scale(1.05);
}

.context h1 {
    font-family: 'Yekan', sans-serif;
}
.context{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 50%;
    margin-left: auto; 
    margin-right: auto; 
    width: auto; /* Need a specific value to work */
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fafafa ;
    font-family: 'Yekan', sans-serif;
    /* background-color: blue; */
}

.schoolname::selection {
    background-color: #1a1a1a7f;
    color: #f1c587;
}

.schooladdress::selection {
    background-color: #1a1a1a7f;
    color: #f1c587;
}

.pageBody{
    max-width: 1920px;
    text-align: justify;
    text-justify: inter-word;
}

.swiperSlider {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    /*box-shadow: 5px 5px rgb(61, 60, 60); */
    box-shadow: 6px 6px 6px rgb(46, 46, 46);
    border-radius: 0.5rem;
    cursor: pointer;
}

.mySwiper {
    width: 100%;
    height: 250px;
    padding: 1rem 0rem 2rem 0rem;
    margin-bottom: 3rem;
}
.image{
    border-radius: 50%;
    /*outline: 1px solid rgb(95, 95, 95);*/
    box-shadow: 2px 2px 16px rgb(46, 46, 46);
}
.mainText{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Yekan', sans-serif;
    padding: 1rem;
    flex-direction: column;
    background-color: #1e1e1e;
    box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.646);
    /*box-shadow: 5px 5px rgb(36, 35, 35);*/
    margin: 1rem;
    color: #f5f5f5;
    margin-top: 5rem;
}

.workers{
    font-family: 'Yekan', sans-serif;
    padding-top: 2rem;
    color: #f1c587;
}
.span{
    font-family: 'Yekan', sans-serif;
    font-size: 1.3rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #232323;
    width: 100%;
    transition: box-shadow 0.3s ease; 
}
.grid:hover{
    /*box-shadow:  6px 8px 6px rgba(95, 109, 61, 0.378);*/
    box-shadow: 5px 5px 6px rgb(46, 46, 46);
}

.workers h2{
    margin-right: 1.2rem;
}

.right{
    padding: 1rem;
    /* background-color: #1e1e1e; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.left{
    /* background-color: #1e1e1e; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    
}

.picText {
    color: #d4bd9d;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText:hover {
    color: #f1c587;
    text-shadow: 0px 0px 6px rgba(226, 212, 192, 0.658);
}

.picText::selection {
    background-color: #1a1a1a;
}

.picText2 {
    color: #d4bd9d;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText2:hover {
    color: #f1c587;
    text-shadow: 0px 0px 6px rgba(226, 212, 192, 0.658);

}
.picText2::selection {
    background-color: #1a1a1a;
}
.h2 {
    color: #dfbe8f;
}

.h2::selection {
    background-color: #1a1a1a;
}

.h2teach {
    color: #d4bd9d;
}

/* 
#hoverer{
    overflow: hidden;
    transition: transform 0.3s;
    width: 100% !important;
} */

/* .hover{
    width: 100% !important;
    height: auto;
    display: block;
    transition: transform 0.3s;
} */

.tName{
    text-decoration: none;
    text-shadow: 2px 3px 16px rgb(82, 82, 64);
}

.cvClick{
    text-decoration: none;
    color: inherit;
}

.siteImageHover{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    
}

.siteSwiper {
    width: 100%;
    height: 100%;
}

.siteImageHover:hover{
    transform: scale(1.05);
}

.overflow2{
    overflow: hidden;
    transition: all 0.2s;
    border-radius: 1rem;
    height: 100%;
}

@media(max-width: 1410px) {
    .picText2{
        display: none !important;
    }
}

@media(max-width: 950px) {
    .picText{
        font-size: 0.9rem;
    }
}
@media(max-width: 870px) {
    .picText{
        font-size: 0.8rem;
    }
}

@media(max-width: 820px) {
    .picText{
        font-size: 1rem;
    }
    .workers h2{
        font-size: 1.4rem;
    }
}

@media(max-width: 640px) {
    .workers h2{
        font-size: 1.4rem;
    }
}

@media(max-width: 500px) {
    .workers h2{
        font-size: 1.3rem;
    }

    .swiperSlider {
        cursor: default;
    }
}

@media(max-width: 465px) {
    .mainText{
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 400px) {
    .context h1 {
        font-size: 1.5rem;
    }
    .context h5{
        font-size: 0.7rem;
    }
    .workers h2{
        font-size: 1.2rem;
    }
    .left{
        border-radius: 0;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        width: 95% !important;
    }
    .right{
        border-radius: 0;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        width: 95% !important;
    }
    .picText{
        
        padding-left: 10px;
    } 
    .picText2{
        padding-right: 10px;
    }
    /* .hover:hover {
        transform: scale(1.0);
    }
    
    .hover:hover img {
        transform: scale(1.0);
    }
    
   
    .hover:hover img:active {
        transform: scale(1);
    } */
    
    
}
@media(max-width: 370px) {
    .context h1 {
        font-size: 1.5rem;
    }
    .context h5{
        font-size: 0.7rem;
    }
}
@media(max-width: 380px) {
    .left{
        width: 90% !important;
    }
    .right{
        width: 90% !important;
    }
}
@media(max-width: 360px) {
    .left{
        width: 84% !important;
    }
    .right{
        width: 84% !important;
    }
}
@media(max-width: 348px) {
    .left{
        width: 81% !important;
    }
    .right{
        width: 81% !important;
    }
}
@media(max-width: 340px) {
    .left{
        width: 80% !important;
    }
    .right{
        width: 80% !important;
    }
}
@media(max-width: 320px) {
    .left{
        width: 78% !important;
    }
    .right{
        width: 78% !important;
    }
}
