.pic{
    min-height: 95vh;
    background-image: url('../public/images/Alex-James.jpg');
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #f5f5f5;
    font-family: 'Yekan', sans-serif;

    background-repeat: no-repeat;
}
.pic h1{
    font-family: 'Yekan', sans-serif;

}
.pageBody{
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.swiperSlider {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    box-shadow: 5px 5px rgb(61, 60, 60);
    border-radius: 0.5rem;
    cursor: pointer;
}

.mySwiper {
    width: 100%;
    height: 250px;
    padding: 1rem 0rem 2rem 0rem;
    margin-bottom: 3rem;
}
.image{
    border-radius: 50%;
    outline: 2px solid rgb(201, 195, 195);
}
.mainText{
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Yekan', sans-serif;

    padding: 1rem;
    flex-direction: column;
    background-color: #1e1e1e;
    box-shadow: 5px 5px rgb(36, 35, 35);
    margin: 1rem;
    color: #f5f5f5;
    margin-top: 5rem;
}


.workers{
    font-family: 'Yekan', sans-serif;

    padding-top: 2rem;
    color: #f5f5f5;
}
.span{
    font-family: 'Yekan', sans-serif;

    font-size: 1.3rem;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #232323;
}
.grid:hover{
    transition: box-shadow 0.3s ease; 
    box-shadow: 5px 5px rgb(58, 57, 57);
}


.right{
    padding: 1rem;
    /* background-color: #1e1e1e; */
}

.left{
    /* background-color: #1e1e1e; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.picText {
    color: #818383;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText:hover {
    color: #cbcbcb;
}

.picText2 {
    color: #818383;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.picText2:hover {
    color: #cbcbcb;
}

#hoverer{
    overflow: hidden;
    transition: transform 0.3s;
    width: 100% !important;
}

.hover{
    width: 100% !important;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.hover:hover {
    transform: scale(1.05); /* Scale up the container on hover */
}

.hover:hover img {
    transform: scale(1.05); /* Scale up the image on hover */
}

/* Reset the scale to normal on unhover */
.hover:hover img:active {
    transform: scale(1);
}

.tName{
    text-decoration: none;
}

.cvClick{
    text-decoration: none;
    color: inherit;
}

@media(max-width: 1410px) {
    .picText2{
        display: none !important;
    }
}

@media(max-width: 950px) {
    .picText{
        font-size: 0.9rem;
    }
}
@media(max-width: 870px) {
    .picText{
        font-size: 0.8rem;
    }
}

@media(max-width: 820px) {
    .picText{
        font-size: 1rem;
    }
    .workers h2{
        font-size: 1.2rem;
    }
}

@media(max-width: 640px) {
    .workers h2{
        font-size: 1rem;
    }
}

@media(max-width: 500px) {
    .workers h2{
        font-size: 0.8rem;
    }

    .swiperSlider {
        cursor: default;
    }
}

@media(max-width: 465px) {
    .mainText{
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 400px) {
    .workers h2{
        font-size: 0.6rem;
    }
    .left{
        border-radius: 0;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        width: 95% !important;
    }
    .right{
        border-radius: 0;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        width: 95% !important;
    }
    .picText{
        
        padding-left: 10px;
    } 
    .picText2{
        padding-right: 10px;
    }
    .hover:hover {
        transform: scale(1.0); /* Scale up the container on hover */
    }
    
    .hover:hover img {
        transform: scale(1.0); /* Scale up the image on hover */
    }
    
    /* Reset the scale to normal on unhover */
    .hover:hover img:active {
        transform: scale(1);
    }
    
    
}
@media(max-width: 370px) {
    .pic h1 {
        font-size: 1.5rem;
    }
    .pic h5{
        font-size: 0.7rem;
    }
}
@media(max-width: 380px) {
    .left{
        width: 90% !important;
    }
    .right{
        width: 90% !important;
    }
}
@media(max-width: 360px) {
    .left{
        width: 84% !important;
    }
    .right{
        width: 84% !important;
    }
}
@media(max-width: 348px) {
    .left{
        width: 81% !important;
    }
    .right{
        width: 81% !important;
    }
}
@media(max-width: 340px) {
    .left{
        width: 80% !important;
    }
    .right{
        width: 80% !important;
    }
}
@media(max-width: 320px) {
    .left{
        width: 78% !important;
    }
    .right{
        width: 78% !important;
    }
}
