/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
.header{
    max-width: 1920px;
    /* min-width: 400px !important; */
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #1c1c1c;
    color: #d4bd9d;
    font-family: 'Yekan', sans-serif;
}
.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navItems{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.link{
    text-decoration: none;
    color: inherit;
}
@media(max-width: 710px) {
    .header{
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
}
@media(max-width: 600px) {
    .navbar{
        justify-content: space-between;
    }
    .navItems{
        width: 40%;
        gap: 20px;
    }
    .name{
        font-size: 1rem;
    }
}
@media(max-width: 425px) {
    .navItems{
        width: 45%;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .name{
        padding-right: 10px;
    }   
}
@media(max-width: 400px) {
    .navItems{
        width: 50%;
        gap: 20px;
    }
    .name{
        font-size: 0.8rem;
    }
    .header{
        max-width: 400px;
    }
}
@media(max-width: 340px) {
    .name{
        display: none;
    }
    .navItems{
        width: 100%;
        gap: 50px;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }
    
}
