.header {
    width: 99%;
    max-width: 1920px; /* Set the maximum width to 1920px */
    margin: 0.5rem auto 0 auto; /* Center the navigation bar horizontally */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center; /* Center the content horizontally */
    border-radius: 15px;
    background-color: #1c1c1c;
    color: #d4bd9d;
    font-family: 'Yekan', sans-serif;
    z-index: 1000000;
}

/* The rest of your CSS remains unchanged */

.loginIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItems{
    height: 100%;
    /* width: 33%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.link{
    text-decoration: none;
    color: inherit;
}
@media(max-width: 710px) {
    .header{
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
}
@media(max-width: 600px) {
    .navbar{
        justify-content: space-between;
    }
    .navItems{
        width: 40%;
        gap: 20px;
    }
    .name{
        font-size: 1rem;
    }
}
@media(max-width: 425px) {
    .navItems{
        width: 45%;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .name{
        padding-right: 10px;
    }   
}
@media(max-width: 430px) {
    .logoName{
        display: none;
    }
}
@media(max-width: 400px) {
    .navItems{
        width: 50%;
        gap: 20px;
    }
    .name{
        font-size: 0.8rem;
    }
    .header{
        max-width: 400px;
    }
}
@media(max-width: 340px) {
    .navItems{
        width: 70%;
        /* gap: 50px; */
        margin: 0;
        padding: 0;
        justify-content: space-between;
        margin-left: 0.5rem;
    }
}
