.container{
    background-color: #1c1c1c;
    min-height: 100vh;
    max-width: 1920px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #d4bd9d;
    font-family: 'Yekan', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
.aboutSection{
    background-color: #222222;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 90%;
    height: 80%;
    border-radius: 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 2px;
}
.left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.51rem;
}
.right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.51rem;
}

.homeMap{
    width: 90%;
    height: 100%;
    border-radius: 0.51rem;
}
.contact{
    background-color: #1e1e1e;
    width: 90%;
    height: 100%;
    border-radius: 0.51rem;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    /* background-color: red; */
}
.contact p {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    margin: 1rem;
    justify-self: right;
}

.quoteDiv{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #232323;
    margin-top: 2rem;
    text-align: center;
    line-height: 20px;
}
.quote {
    color: #818383;
    padding: 10px 20px;
    transition: color 0.3s;
    cursor:default;
}

.quote:hover {
    color: #cbcbcb;
}

@media(max-width: 668px) {
    .aboutSection{
        margin-bottom: 1rem;
        height: 150vh;
    }
    /* .left{
        height: 40vh;
    }
    .right{
        height: 90vh;
    } */
    .homeMap{
        height: 40vh;
    }
    .contact{
        height: 60vh;
    }
}       